*
!Dockerfile
!knowledge/
!knowledge/**
!site/
!site/**

knowledge/compiled
knowledge/legacy

site/.dev.vars
site/.dev.vars.*
site/.env
site/.env.*
site/.git
site/.next
site/.vinext
site/.wrangler
site/dist
site/node_modules
site/tests
site/*.log
